<h1> Héroe <small> Nombre del Héroe </small> </h1>
<hr>


<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger"
                routerLink="/heroes">
            <i class="fa fa-arrow-left">
            </i>
            Regresar
        </button>
    </div>
</div>



<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm">

            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text"
                       placeholder="Firebase ID"
                       class="form-control"
                       [(ngModel)]="heroe.id"
                       name="id"
                       disabled="disabled">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre del heroe</label>
                <input type="text"
                       placeholder="Nombre del heroe"
                       [(ngModel)]="heroe.nombre"
                       name="nombre"
                       class="form-control"
                       required>
            </div>

            <div class="form-group">
                <label>Poder</label>
                <input type="text"
                       placeholder="Poder del heroe"
                       [(ngModel)]="heroe.poder"
                       name="poder"
                       class="form-control"
                       >
            </div>

            <div class="form-group">
                <label>Estado</label>
                <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo = false" class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>
                <button *ngIf="!heroe.vivo" (click)="heroe.vivo = true" class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    Muerto
                </button>
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>